---
layout: default
---

<div class="hero center">
     <a href="http://uupload.ir/"><img src="http://uupload.ir/files/swzf_123333.png.jpg" border="0" alt="آپلود عکس" /></a>
      <h2>Hi, I'm Mohadese Rashedi</h2>
      <h4>Front-End Developer</h4>
      <h6>
        <a href="/blog">FARSI BLOG</a> -
        {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}" target="_blank">TWITTER</a>{% endif %} -
        {% if site.github %}<a href="https://github.com/{{ site.github }}" target="_blank">GITHUB</a>{% endif %}
      </h6>
    </div>
